# OS
.DS_Store
Thumbs.db

# IDEs
.idea/

# Env
.env
.env.*
!.env.example
!.env.test

# Firebase
.firebase/
firebase-debug.log
.runtimeconfig.json
ui-debug.log

# Tauri
src-tauri/.env

# npm
node_modules

# ESLint
.eslintcache

# Vite
vite.config.js.timestamp-*
vite.config.ts.timestamp-*

# Output
.output
/.svelte-kit
/build
