# System files
.DS_Store
Thumbs.db

# IDEs
.idea/

# Tauri
src-tauri/.env

# npm
node_modules

# Miscellaneous
/.angular/cache
.sass-cache/

# Firebase
.firebase/
firebase-debug.log
.runtimeconfig.json
ui-debug.log

